.DraftEditor-root {
    border: 1px solid $darkmagenta;
<<<<<<< HEAD
    padding: 20px;
    border-radius: 3px;
  }
  
  .rdw-image-modal {
    left: -215px;
  }
  
  .rdw-emoji-modal {
    left: -169px;
  }
  
  .rdw-embedded-modal {
    left: -124px;
  }
=======
    padding: 10px;
    
    border-radius: 3px;
}

.rdw-emoji-modal {
    left: -169px;
}

.rdw-embedded-modal {
    left: -124px;
}
>>>>>>> c0a1f7c89b79aa55c53f219638324e35b39f27ad
